@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div id="global-content-area">
            <div id="login-content-area">
                <div id="login-header">
                    <div>
                        <div class="login-header">
                            <h2>Welcom to Cuyahoga Community College Student Services Online</h2>
                        </div>
                        <div class="login-body-text">
                            <p>Cuyahoga Community College recognizes students' rights to access personal and academic records in accordance with the Family Education Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568</p>
                        </div>
                    </div>
                </div>


                <div id="login-main-content">
                    <div class="section-one">
                        <div class="description">
                            <p>Already have an account with us? Returning Users may log in by entering their site username and password.</p>
                        </div>
                        <div class="input-form">
                            <div class="input-field">
                                <div>Username<input type="text" /></div>
                            </div>
                            <div class="input-field">
                                <div>Password<input type="text" /></div>
                            </div>
                            <div class="submit-button">
                                <div class="submit-container"><button class="submit-button">Log In</button></div>
                            </div>
                        </div>
                    </div>

                    <div class="section-two">
                        <div class="description">
                            <p>New users, pleaser create a new account by providing us with some basic information.</p>
                        </div>
                        <div class="input-form">
                            <div class="input-field">
                                <div>Username<input type="text" /></div>
                            </div>
                            <div class="input-field">
                                <div>Password<input type="text" /></div>
                            </div>
                            <div class="input-field">
                                <div>E-Mail Address<input type="text" /></div>
                            </div>
                            <div class="input-field">
                                <div>Repeat E-Mail Address<input type="text" /></div>
                            </div>
                            <div class="submit-button">
                                <div class="submit-container"><button class="submit-button">Create Account</button></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="global-footer">
                    <div class="login-body-text">
                        <p>Cuyahoga Community College<br />700 Carnegie Avenue, Cleveland, Ohio 44115</p>
                    </div>
                </div>
            </div>





            <div id="acount-content-area">

            </div>
        </div>

</body>
</html>